@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", "sans-serif";
}

@plugin "daisyui" {
    themes: dark -- light, light -- light;
  }


.quill-custom .ql-toolbar {
  @apply rounded-t-xl bg-[#4CAF87] text-white;
}


.quill-custom .ql-toolbar .ql-picker-label,
.quill-custom .ql-toolbar .ql-stroke,
.quill-custom .ql-toolbar .ql-fill {
  color: white !important;
  stroke: white !important;
}


.quill-custom .ql-container {
  @apply min-h-[200px] max-h-[200px] rounded-b-xl bg-white overflow-y-auto;
}
